alias ls='ls -GFh'
alias ll='ls -lAFh'                         # Long ls implementation
cd() { builtin cd "$@"; ll; }               # Always list directory contents upon 'cd'
mcd () { mkdir -p "$1" && cd "$1"; }        # mcd: Makes new Dir and jumps inside
alias ..='cd ../'                           # Go back 1 directory levels

alias cat='bat'

alias path='echo -e ${PATH//:/\\n}'         # path: Echo all executable Paths
alias ports="lsof -i -P | grep -i \"listen\""

if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

alias nvimconfig="vim ~/.config/nvim/init.lua"
alias zshconfig="vim ~/.zshrc"
alias dotfiles="vim ~/workspace/dotfiles/macOS/"

alias rspec="bundle exec rspec"

alias venv="source ~/workspace/venv/bin/activate"
alias venv_create="python3 -m venv ~/workspace/venv"

alias kc="kubectl"

# Git aliases
alias g='git'
alias ga='git add'
alias gst='git status'
alias gco='git checkout'
alias gcm='git commit -m'
alias gp='git push'
alias gl='git pull'
alias gd='git diff'
alias gb='git branch'
