alias ls='ls -GFh'
alias ll='ls -lAFh'                         # Long ls implementation
cd() { builtin cd "$@"; ll; }               # Always list directory contents upon 'cd'
mcd () { mkdir -p "$1" && cd "$1"; }        # mcd: Makes new Dir and jumps inside
alias ..='cd ../'                           # Go back 1 directory levels

alias ctags="/usr/local/bin/ctags"

alias path='echo -e ${PATH//:/\\n}'         # path: Echo all executable Paths
alias ports="lsof -i -P | grep -i \"listen\""

alias pg_start="pg_ctl -D /usr/local/var/postgres start"
alias pg_stop="pg_ctl -D /usr/local/var/postgres stop"

if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

alias vimconfig="vim ~/.vimrc"
alias neovimconfig="vim ~/.config/nvim/init.vim"
alias zshconfig="vim ~/.zshrc"
alias dotfiles="vim ~/workspace/dotfiles/macOS/"

alias venv="source ~/workspace/venv/bin/activate"
alias venv_create="python3 -m venv ~/workspace/venv"
