[alias]
  hist = log --graph --pretty=format: '%h %ad | %s%d [%an]' --date=short
  gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
  uncommit = reset --soft HEAD^
  unstage = reset
  staged = diff --cached
[color]
  ui = true
[credential]
  helper = osxkeychain
[core]
  autocrlf = false
  safecrlf = true
  editor = nvim
  excludesfile = ~/.gitignore_global
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
  process = git-lfs filter-process
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true
[github]
  user = zlahham
[push]
  default = simple
[user]
  email = zaid@lahham.tech
  name = Zaid Lahham
	signingkey = 32C89033DBBF5FFD
[includeIf "gitdir:~/workspace/appearhere/**"]
  path = ~/.gitconfig-appearhere
[commit]
	gpgsign = true
